{{#each goals}}
<div class="card card-body mx-auto w-50">
    <h4>{{title}}
        <a class="btn btn-success btn-sm float-right" href="/goals/edit/{{id}}">Edit me</a>
    </h4>
    <p>{{details}}</p>
    <form action="/goals/{{id}}?_method=DELETE" method="post">
        <input type="hidden" name="_method" value="DELETE">
        <input type="submit" class="btn btn-danger btn-sm float-right " value="Delete">
    </form>

</div>
{{else}}
<p>Please add at least one goal.</p>
{{/each}}

<style>
    h4{
        color:blue
    },
    btn-danger{
        padding: -50px;
    }
</style>

<script type="text/javascript">
$(".alert-dismissible").fadeTo(2000, 500).slideUp(500, function(){
    $(".alert-dismissible").alert('close');
});
</script>